################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample_project/obj/Debug
/Sample_project/bin/Debug
/Sample_project/obj/Release
/.vs
